//Global
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #fff;
}

@mixin width ($max-width, $height) {
	max-width: $max-width;
	width: 100%;
	height: $height;
}
@mixin center-content{
	align-items: center;
	justify-content: center;
}

@mixin breakpoint{
	@media  (max-width: 600px){
		@content
	}
}

.container{
	margin: 0 auto;
	max-width: 1024px;    
	width: 100%;
	&-flex{
		display: flex;
		margin-top: 20px;
		@include breakpoint{
			flex-direction: column;			
		}
	}
		&-flex:nth-child(2){
			margin-top: 100px;
		}
}
.fixed-bar{
	position: fixed;
	top: 0;
	@include width(1024px, 80px);
	@include center-content();
	margin-top: 0;
}

.second-row{
	@include width(2014px,300px);
	margin-left: 20px;

	@include breakpoint{
		margin-left: 0;
		flex-direction: column;
		margin-top: 20px;
		&:first-child{
			margin-top: 0;
		}
	}
	&:first-child{
		margin-left: 0;
	}
}

.third-row{
	@include width(1024px,120px);
	margin-left: 20px;
	@include breakpoint{
		flex-direction: column;
		margin-left: 0;
		margin-top: 20px;
		&:first-child{
			margin-top: 0;
		}
	}
	&:first-child{
		margin-left: 0;
	}
}
.fourth-row{
	@include width(1024px,200px);
	@include center-content();
	&-child{
		@include width(150px,150px);
	}
}
.box{
	background-color: #D8D8D8;    
	border: 1px solid #979797;
}
